@import url("home.css");
@import url("header.css");
@import url("about.css");
@import url("contact.css");
@import url("projects.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: auto;
    color: white;
    overflow-x: hidden;
    background-color: var(--secondary);
    /* scroll-behavior: smooth; */
}

footer {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    background-color: rgb(26, 35, 51);
    font-size: small;
    font-weight: 600;
}